/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERICS*/
body {
    font-family: sans-serif;
    background-color: lightgoldenrodyellow;
}

/*UTILITIES*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*HEADER*/
header {
    height: 250px;
    padding: 10px 30px;
    line-height: 50px;
    background-color: white;
}

/*IMMAGINE NELL'HEADER*/
header img {
    height: 150px;
    width: 175px;
}

/*GRIGLIA*/
#grid {
    height: 600px;
    width: 600px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px dashed black;
}

/*CELLA*/
.cell {
    height: calc(100% / 10);
    width: calc(100% / 10);
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;    
}

/*H3*/
h3 {
    padding: 20px;
}

/*SFONDO CELLE BUONE*/
#grid .cell.clicked {
    color: white;
    background-color: lightskyblue;
}

/*BOTTONE*/
button {
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 75px;
    background-color: lightcyan;
    margin-left: 100px;
}

/*TITOLO DELL'HEADER*/
h2 {
    color: lightseagreen;
    font-size: 50px;
    padding: 10px 15px;
}

/*CLASSE NONE*/
.none {
    display: none;
}

/*SFONDO CELLE BOMBE*/
.bg-bomb {
    background-color: red;
}

/*CLASSE FLEX*/
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*CLASSE SHAKE PER LE BOMBE*/
.shake {
    animation: shake 2s ease infinite;
  }

  @keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

/*CLASSE HI-THERE PER IL BOTTONE*/
.hithere {
        animation: hithere 1s ease infinite;
}
    @keyframes hithere {
      30% { transform: scale(1.2); }
      40%, 60% { transform: rotate(-20deg) scale(1.2); }
      50% { transform: rotate(20deg) scale(1.2); }
      70% { transform: rotate(0deg) scale(1.2); }
      100% { transform: scale(1); }
}

/*CLASSE FADE-IN PER IL TITOLO*/
.fadein {
    animation: fade-in 2s linear infinite;
  }
  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  /*PADDING*/
  .padding {
    padding: 10px;
  }

  /*DIFFICOLTA'*/
  #bottone-difficoltà {
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px;
  }